.container{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.users-block {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input-container {
    margin-bottom: 20px;
}

input[type=text] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
}